html {
    scroll-behavior: smooth;
}
body {
       padding-top: 70px;
  }
.navbar {
    border-radius: 8px 2px;
   }
.navbar-light .navbar-brand {
    color: black;
    background-color: white;
    font-size: 1.3rem;
    border-radius: 10px 20px;
}

.jumbotron-fluid {
	width: 100%;
 	padding-right: 25px;
     padding-left: 25px;
     padding-top: 50px;
     padding-bottom: 50px;
 	margin-right: auto;
 	margin-left: auto;
}

    
footer{
    background-color: #ffc107;
    margin: 10px auto;
    height: auto;
    padding-top: 10px;
    width: 100%;
    
    text-align: center;
    justify-content: center;
}
footer li {
    list-style-type: none;
    line-height: 10px;
    height: 15px;
    border-right: 1px solid #354052;
    padding: 0px 15px;
    display: inline-block;
}
footer li a{
    text-decoration: none;
    color: #354052;
    font-size: 1.2rem;
}
